:root {
    --main-light-color: coral;
    --main-lighter-color: blue;    
}


.App {
  text-align: center;
  display: block;
}


.App-header {
  background-color: #1ccdaa!;
  height: 290px;
  padding: 20px;
  color: white;
  min-height: 240px;
  background-repeat: no-repeat!important;
  background-position: center center!important;
  background-size: cover!important;
  box-sizing: border-box;
}

.App-section {
  padding-bottom: 60px;
  position: relative;
  box-sizing: border-box;
}

.App-section-container {
  max-width: 560px;
  text-align: center;
  position: relative;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  }

.App-section-container-photo {
  margin: -104px auto 30px;
  background: #fff;
  border-radius: 50%;
  border: 4px solid #fff;
  transition: margin 1s;
  height: 200px;
  width: 200px;
  position: relative;
  z-index: 12;
  overflow: hidden;
  text-align: center;
}

.profilePic {
  transition: opacity .4s;
  border-radius: 50%;
  width: 192px;
  height: 192px;
  object-fit: cover;
}

.App-section-container-profile{
  padding: 0 30px;
  box-sizing: border-box;
  outline: 0!important;
  text-align: center;
  color: #27353f;
}

.App-section-container-profile>h1 {
    font-weight: 700;
    font-size: 32px;
    color: #27353f;
    line-height: 35px;
    margin: 0 0 5px;
    transition: margin 1s;
}
.App-section-container-profile>h2 {
    font-weight: 700;
    font-size: 20px;
    color: #63717b;
    line-height: 23px;
    margin: 0 0 5px;
}
.shortBio{
    margin: 30px auto;
    color: #9fadb7;
    font-size: 15px;
    line-height: 1.5em;
    font-weight: 400;
}
.location{
    margin-top: 10px;
    border: 1.6px solid var(--main-lighter-color);
    padding: 3px 8px;
    margin-left: 6px;
    line-height: 24px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    color: rgb(127, 141, 138)!important;
    font-size: 15px;
}

img {
    width: 100%;
    height: auto;
}

span.location:hover a {
    color: var(--main-light-color)!important;
}

span.location:hover  {
     color: var(--main-light-color)!important;
     border-color: var(--main-lighter-color)!important;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
    color: rgb(127, 141, 138);  
}

.socialmedia{
    text-align: center;
    margin-bottom: 10px;
    position: relative;
}
.social-links{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 0 3px;
    vertical-align: middle;
}

.social-links >a>i {
    width: 24px;
    height: 24px;
    line-height: 26px;
    font-size: 13px;
    border-radius: 4px;
  }
.social-links >i {
    width: 24px;
    height: 24px;
    line-height: 26px;
    font-size: 13px;
    border-radius: 4px;
  }
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
  background: #a9733c;
  color: white;
}

.fa-globe {
  background: #430297;
  color: white;
}

.fa-envelope {
  background: #ff5500;
  color: white;
}

.fa-github {
  background: #191717;
  color: white;
}

.fa-xing {
  background: #16a085;
  color: white;
}

.work-history{
  background: #fff;
  margin: 0;
  padding: 15px 30px;
  border-top: 1px solid #e9eaec  
}
.work-history-title {
  color: var(--main-light-color)!important;
  font-size: 16px;
  font-weight: 700;
  margin: 10px 0 20px;
}

.work-history-timeline{
  width: 90%;
  display: block;
  margin: 0 auto;
  position: relative;
  min-height: 80px;
  padding-top: 10px;
  border-right: 1px solid #bfbfbf;
  border-left: 1px solid #bfbfbf;
}

.timeline-details{
  height: 20px;
  border-top: 1px solid #e9eaec;
}

.resume-section.timeline-strict {
    padding-top: 30px;
}
.resume-section {
    padding: 70px 0 100px;
    position: relative;
    border-top: 1px solid rgba(39,53,63,.1);
    background: #fff;
    overflow: hidden;
    overflow: visible;
}
.themeBackgroundLight, .themeBackgroundLightHover:hover {
    background-color: #f2fdfb!important;
}
.sections {
    position: relative;
    overflow: hidden;
    min-height: 400px;
}
.resume-section.timeline-strict .line.vertical {
    top: 0;
}


.themeBackgroundDark, .themeBackgroundDarkHover:hover {
    background-color: var(--main-light-color)!important;
}

.resume-section.timeline .line.vertical.resume-link, .resume-section.timeline-strict .line.vertical.resume-link {
    height: auto;
    display: block;
    background: rgba(0,189,156,.2);
    border-radius: 100px;
    width: 10px;
    left: -4px;
    margin: 0;
    border: none;
    opacity: .4;

        visibility: visible;
    top: 3748.74px;
    height: 426.948px;
}
.resume-section.timeline .line.vertical, .resume-section.timeline-strict .line.vertical {
    position: absolute;
    top: 6px;
    bottom: 0;
    margin-left: -50.1%;
    width: 2px;
    height: 100%;
    display: block;
    background: #aebbc4;
}

.themeBackgroundFaded, .themeBackgroundFadedHover:hover {
    background-color: rgb(128, 255, 230)!important;
}

.points {
    text-align: center;
    padding: 0;
    list-style: none;
    position: relative;
}
.resume-section.timeline .profile-resume.right, .resume-section.timeline-strict .profile-resume.right {
    text-align: left;
}
.resume-section.timeline .profile-resume, .resume-section.timeline-strict .profile-resume {
    margin-top: 10px;
}

.profile-resume {
    margin: 0 auto;
    position: relative;
    min-height: 80px;
}
su-resume>*, su-resume-editable>* {
    font-size: 14px;
}


.points {
    text-align: center;
    padding: 0;
    list-style: none;
    position: relative;
}
p, ul, ol, em, b {
    color: #7f8c8d;
    line-height: 1.5;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
.resume-section.timeline .profile-resume.right, .resume-section.timeline-strict .profile-resume.right {
    text-align: left;
}
.resume-section.timeline .profile-resume, .resume-section.timeline-strict .profile-resume {
    margin-top: 10px;
}
.profile-resume {
    margin: 0 auto;
    position: relative;
    min-height: 80px;
}

su-resume>*, su-resume-editable>* {
    font-size: 14px;
}
.resume-section.timeline-strict .profile-resume.has-experience .dot {
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 12px;
    top: 10px;
    border-radius: 24px;
}
.resume-section.timeline .profile-resume.right .dot, .resume-section.timeline-strict .profile-resume.right .dot {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(-50%,20%);
    transform: translate(-50%,20%);
}
.sections .resume-section .dot {
    border-color: #fff;
}
.dot.thick {
    border-width: 4px;
    box-sizing: content-box;
}
.themeBorderFaded, .themeBorderFadedHover:hover {
    border-color: rgb(189, 255, 242)!important;
}

.themeBackgroundDark, .themeBackgroundDarkHover:hover {
    background-color: var(--main-light-color)!important;
}
.dot {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #aebbc4;
    display: block;
    border-radius: 50%;
    position: absolute;
    border: 2px solid #fff;
    color: #fff!important;
    text-align: center;
    font-size: 11px;
    z-index: 1;
}
.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.profile-resume .resume-body {
    position: relative;
    padding: 5px 20px;
    min-height: 80px;
    padding-bottom: 10px;
}

.resume-section.timeline .profile-resume.right, .resume-section.timeline-strict .profile-resume.right {
    text-align: left;
}

.profile-resume .resume-experience {
    background: 0 0;
    margin-top: 5px;
    border-color: rgba(233,234,236,.4);
    display: inline-block;
    cursor: pointer;
    position: relative;
}
.profile-resume .resume-experience .experience-connector {
    display: block;
    height: 0px;
    position: absolute;
    left: 0;
    width: 0px;
    top: 0%;
    background: #00bd9c;
}
.profile-resume .resume-experience .experience-item {
    color: inherit!important;
    text-decoration: none;
    text-align: inherit;
}
.profile-resume a:not(:hover) {
    color: inherit;
}

.experience-item {
    position: relative;
    text-align: left;
    display: block;
}
.profile-resume .resume-experience .experience-item {
    color: inherit!important;
    text-decoration: none;
    text-align: inherit;
}
.profile-resume .resume-experience .experience-item h1 {
    color: #63717b;
    font-size: 17px;
    font-weight: 400;
}


.profile-resume .resume-experience {
    background: 0 0;
    margin-top: 5px;
    border-color: rgba(233,234,236,.4);
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.experience-item h3 {
    font-size: 13px;
    color: #9fadb7;
}
su-resume>*, su-resume-editable>* {
    font-size: 14px;
}


@media (min-width: 1200px){
p, ul, ol, em, b {
    font-size: 15px;
}

}
@media (max-width: 991px){
.resume-section .points {
    max-width: 760px;
}  
}


@media (max-width: 767px){

.resume-section.timeline .line.vertical, .resume-section.timeline-strict .line.vertical {
    margin-top: 0;
    margin-bottom: 0;
    top: 0;
    left: 36px;
} 
.resume-section.timeline .profile-resume.right, .resume-section.timeline-strict .profile-resume.right {
    margin-left: 36px;
} 

.resume-section.timeline-strict .profile-resume.has-experience.first-in-experience .dot {
   left: -40px;
}
.resume-section.timeline-strict .profile-resume .resume-experience .experience-connector {
    right: auto;
    left: -40px;
    width: 25px;
}

.resume-section .points {
    margin-left: 20px;
    margin-right: 20px;
}
.resume-section .points {
    max-width: 580px;
}

}


@media (min-width: 767px){
.resume-section.timeline-strict .profile-resume.has-experience.first-in-experience {
    padding-top: 60px;
}  
.resume-section.timeline .profile-resume.right, .resume-section.timeline-strict .profile-resume.right {
    width: 50%;
    margin-left: 50%;
}
.resume-section.timeline-strict .profile-resume.has-experience.first-in-experience .dot {
    left: -40px;
}
.resume-section.timeline-strict .profile-resume .resume-body.resume-body-fixed.left, .resume-section.timeline-strict .profile-resume .resume-body.resume-body-fixed.right {
    right: 100%;
    margin-right: 40px;
    text-align: right;
}
.resume-section.timeline-strict .profile-resume .resume-body.resume-body-fixed {
    position: absolute;
    min-width: 90%;
    top: 0;
    height: 100%;
    pointer-events: none;
}
.resume-section.timeline-strict .profile-resume .resume-body.resume-body-fixed.left .resume-experience, .resume-section.timeline-strict .profile-resume .resume-body.resume-body-fixed.right .resume-experience {
    right: 20px;
}
.resume-section.timeline-strict .profile-resume .resume-body.resume-body-fixed .resume-experience.top {
    position: absolute;
    top: 0;
}
.resume-section.timeline-strict .profile-resume .resume-body.resume-body-fixed .resume-experience {
    pointer-events: initial;
}
.resume-section.timeline-strict .profile-resume .resume-body.resume-body-fixed.left .resume-experience .experience-connector, .resume-section.timeline-strict .profile-resume .resume-body.resume-body-fixed.right .resume-experience .experience-connector {
    left: auto;
    right: -65px;
}
.resume-section.timeline-strict .profile-resume .resume-body.resume-body-fixed.left .resume-experience, .resume-section.timeline-strict .profile-resume .resume-body.resume-body-fixed.right .resume-experience {
    right: 20px;
}
.resume-section.timeline-strict .profile-resume .resume-body.resume-body-fixed .resume-experience.bottom {
    position: absolute;
    bottom: 0;
}
.resume-section.timeline-strict .profile-resume .resume-body.resume-body-fixed .resume-experience.bottom {
    position: absolute;
    bottom: 0;
}
.resume-section.timeline-strict .profile-resume .resume-body.resume-body-fixed.left, .resume-section.timeline-strict .profile-resume .resume-body.resume-body-fixed.right {
    right: 100%;
    margin-right: 40px;
    text-align: right;
}
.resume-section.timeline-strict .profile-resume .resume-body.resume-body-fixed {
    position: absolute;
    min-width: 90%;
    top: 0;
    height: 100%;
    pointer-events: none;
}

}


@media (min-width: 479px){
.resume-section.timeline .profile-resume.right, .resume-section.timeline-strict .profile-resume.right {
    padding-left: 40px;
}
.resume-section.timeline .profile-resume.right, .resume-section.timeline-strict .profile-resume.right {
    padding-left: 40px;
}

}
@media (max-width: 479px){
.resume-section .points {
    margin-left: 10px;
    margin-right: 10px;
}
.resume-section.timeline-strict .profile-resume.right {
    padding-left: 10px;
    margin-top: 10px;
    margin-left: 25px;
}
}

@media (max-width: 767px)
.resume-section .points {
    margin-left: 20px;
    margin-right: 20px;
}
@media (max-width: 767px)
.resume-section .points {
    max-width: 580px;
}


.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;  
  border-bottom: 20px solid  var(--main-light-color);
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid  var(--main-light-color);
}
.experience-item h3>img {
    width: 18px;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    margin-right: 5px;
}
.profile-resume .resume-experience .experience-item h1 {
    color:  var(--main-bg-color);
    font-size: 17px;
    font-weight: 400;
}

.experience-item h1:not(:last-child), .experience-item h2:not(:last-child), .experience-item h3:not(:last-child) {
    margin-bottom: 3px;
}
.experience-item h3 {
    font-size: 13px;
    color: #9fadb7;
}
.experience-item h1, .experience-item h2, .experience-item h3 {
    margin: 0;
}
h3 {
    font-size: 18px;
}

@media only screen and (min-width: 480px)  { 
 .resume-section.timeline-strict .profile-resume .resume-experience .experience-connector {
    right: auto;
    left: -80px;
    width: 25px;
}
}
@media only screen and (min-width: 767px) { 
 .line.vertical {
    left: 50%;
}
}
@media only screen and (min-width: 992px) {
.line.vertical {
    left: 50%; 
}
 }
@media only screen and (max-width: 480px)  { 
.resume-section.timeline-strict .profile-resume.has-experience.first-in-experience .dot {
    left: 0px;
}
.profile-resume .resume-body {
    padding-left: 40px;
}
}

.profile-resume .resume-body {
    position: relative;
    padding: 5px 20px;
    min-height: 80px;
    padding-bottom: 15px;
    padding-top: 0px;
}
.profile-resume h5 {
    font-weight: 700;
    font-size: 22px;
    color: var(--main-light-color);
    line-height: 22px;
    margin: 0 0 5px;
    padding-top: 5px;
    opacity: 1;
    min-height: 27px;
    display: block;
    text-align: inherit;
    background-color: transparent;
}
.themeColorDark, .themeColorDarkHover:hover {
    color: var(--main-light-color);
}
.themeColorText, .themeColorTextHover:hover {
    color: rgb(127, 141, 138)!important;
}
.pen {
    font-family: "Verb","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #7f8c8d;
    min-height: 24px;
    font-size: 16px;
    line-height: 24px;
}
.pen {
    position: relative;
}
.profile-resume .resume-skills {
    margin-top: 5px;
}
.profile-resume .embed {
    margin-top: 10px;
}
.embed {
    position: relative;
}
.profile-resume a:not(:hover) {
    color: inherit;
}
.su-embed {
    position: relative;
    background: #fff;
    border: 1px solid #e9eaec;
    border-radius: 3px;
    padding: 15px 15px 10px;
    text-align: left!important;
    text-decoration: none!important;
    display: block;
    max-width: 450px;
    margin: 0 auto;
}
a, a:hover, a:focus {
    color: #00bd9c;
}
a {
    color: #337ab7;
    text-decoration: none;
}
.su-embed h1 {
    font-size: 15px;
    margin: 0;
    color: var(--main-light-color);
    line-height: 1.2em;
}

h1 {
    font-size: 22px;
}
.profile-resume .resume-body p {
    color: inherit;
}
.su-embed p {
    margin: 5px 0 0;
    color: #7f8c8d;
    text-decoration: none;
}
@media (min-width: 1200px)
p, ul, ol, em, b {
    font-size: 14px;
}

p, ul, ol, em, b {
    color: #7f8c8d;
    line-height: 1.5;
}
p {
    margin: 0 0 10px;
}
.su-embed strong {
    font-size: 13px;
    margin-top: 3px;
}
.pull-right {
    float: right;
}
.dot {
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 12px;
    top: 10px;
    border-radius: 24px;
}
.dot>p {
    width: 100%;
    height: 100%;
    display: block;
    line-height: inherit;
    color: inherit;
    font-size: 11px;
}
.resume-section .points {
    max-width: 940px;
    margin: 0 auto;
}

.points {
    text-align: center;
    padding: 0;
    list-style: none;
    position: relative;
}

.tagMargin{
    margin-block-end: -0.2em; 
    font-size: 16px; 
}
.skills-list.selectable .resume-skill:hover {
    color: #F4D62B;
}
.skills-list.selectable .resume-skill {
    cursor: pointer;
    font-size: 15px;
}
.skills-list.selectable:hover>i:first-child {
    color: #F4D62B;
}
.resume-section.blocks, .resume-section.timeline {
    padding-top: 40px;
}

.resume-section {
    padding: 70px 0 100px;
    position: relative;
    border-top: 1px solid rgba(39,53,63,.1);
    background: #fff;
    overflow: hidden;
    overflow: visible;
}
.resume-section .section-title {
    font-weight: 700;
    font-size: 32px;
    color: var(--main-light-color);
    line-height: 35px;
    margin: 0 auto 35px;
    max-width: 940px;
    text-align: center;
    position: relative;
}

.themeColorDark, .themeColorDarkHover:hover {
    color: var(-main-light-color);
}

.resume-section.blocks .points {
    text-align: left;
    margin-top: -10px;
}
.resume-section .points {
    max-width: 940px;
    margin: 0 auto;
}
.points {
    text-align: center;
    padding: 0;
    list-style: none;
    position: relative;
}


@media (max-width: 767px){
.profile-resume{
  width: 100%;
  max-width: 580px;
}
}

.resume-section.blocks .profile-resume {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin-top: 20px;
}
.profile-resume {
    margin: 0 auto;
    position: relative;
    min-height: 80px;
}
@media (min-width: 767px)
 .profile-resume .resume-details {
    min-height: 160px;
}
.profile-resume .resume-body {
    position: relative;
    padding: 5px 20px;
    min-height: 80px;
}
.profile-resume .embed {
    margin-top: 10px;
}

.embed {
    font-family: "Verb","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #7f8c8d;
    min-height: 24px;
    font-size: 16px;
    line-height: 24px;
}
.embed p {
    color: #7f8c8d;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: 0;
    margin-right: 0;
}
.adDetails{
    position: relative;
    background: #fff;
    border: 1px solid #e9eaec;
    border-radius: 3px;
    padding: 15px 15px 10px;
    text-align: left!important;
    text-decoration: none!important;
    display: block;
    max-width: 450px;
    margin: 0 auto;
}
 .adDetails h1{
    font-size: 15px;
    margin: 0;
    color: #27353f;
}
.adDetails p{
    margin: 5px 0 0;
    color: #7f8c8d;
    text-decoration: none;
}
.adDetails strong {
    font-size: 13px;
    margin-top: 3px;
}
.pull-right {
    float: right;
}
.adChart h5{
  font-weight: 700;
    font-size: 22px;
    color: rgba(39,52,63,.8);
    line-height: 22px;
    margin: 0 0 5px;
    padding-top: 5px;
    opacity: 1;
    min-height: 27px;
    display: block;
    text-align: inherit;
    background-color: transparent;
    color: var(--main-light-color)!important;
}
.myProgress{
  margin-bottom: 10px;
  height: 6px;
  width: 100%;
  background-color:#ddd;
}
.myBar {
  background-color: var(--main-light-color);
  display: block;
  height: 100%;
  box-sizing: border-box;
}
.adUrl{
  font-size: 15px;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.adUrl a:hover{
  color: var(--main-light-color)!important;
  text-decoration: none;
}
.taglist{
  cursor: pointer;
}
.taglist:hover{
  color: #F4D62B;
}
.taglist1 >i:hover {
    color: #F4D62B;
    cursor: pointer;

}
@media only screen and (min-width: 767px) { 
.profile-resume {
     width: 49%; 
}
}
   h4> a> img {
    width: 18px;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    margin-right: 5px;
}
.contact {
    padding: 70px 0 100px;
    position: relative;
    border-top: 1px solid rgba(39,53,63,.1);
    background: #fff;
    overflow: hidden;
    overflow: visible;
}
.contact-title{

    font-weight: 700;
    font-size: 32px;
    color: #27353f;
    line-height: 35px;
    margin: 0 auto 35px;
    max-width: 940px;
    text-align: center;
    position: relative;
    color: var(--main-light-color);
}
.contact-section{
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    list-style: none;
    position: relative;
}
@media (min-width: 767px){
.contact-point {
    width: 60%;
    margin-left: 20%;
    text-align: center;
}}
.contact-h5{

    font-weight: 700;
    font-size: 20px;
    color: rgba(39,52,63,.8);
    line-height: 22px;
    margin: 0 0 5px;
    padding-top: 5px;
    opacity: 1;
    min-height: 27px;
    display: block;
    text-align: inherit;
    background-color: transparent;
    color: var(--main-light-color);
}
.contact-desc{
    font-family: "Verb","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #7f8c8d;
    min-height: 24px;
    font-size: 17px;
    line-height: 24px;
    color: #7f8d8a;
}
.contact-button{
   
    display: inline-block;
    width: 45%;
    background-color:var(--main-light-color);
    border: none;
    border-radius: 50px;
    color: #fff;
    opacity: .75;
    text-align: center;
    font-weight: 700;
    white-space: nowrap;
    padding: 13px 25px;
    overflow: hidden;
    text-overflow: ellipsis;

}
.contact-div{
  margin-top: 22px;
}
.contact-div a{
   color: #fff;
    text-decoration: underline;
}
.contact-div a:hover{
   color: #fff;
    text-decoration: underline;
}
.contact-div a>i{
   background: var(--main-light-color);
}

@media (min-width: 767px){
   .dot {
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}}
.sections .point-section .dot {
    border-color: #fff;
}
.dot.large {
    width: 45px;
    height: 45px;
    line-height: 45px;
}
.themeBackgroundDark, .themeBackgroundDarkHover:hover {
    background-color: var(--main-light-color)!important;
}

.dot {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #aebbc4;
    display: block;
    border-radius: 50%;
    position: absolute;
    border: 2px solid #fff;
    color: #fff!important;
    text-align: center;
    font-size: 11px;
    z-index: 1;
}
@media (min-width: 767px){
.point-body.point-details {
    padding: 30px 0 40px!important;
}}

@media (min-width: 767px){
.point-body {
    margin: 0;
}}
.profile-point .point-body {
    position: relative;
    padding: 5px 20px;
    min-height: 80px;
}
@media (min-width: 767px){
 .point-body .h5, .point-body h5 {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2em;
    margin-bottom: 5px;
    text-align: center;
}}
@media (min-width: 767px){
 .point-body .h5, .point-body .pen, .point-body, .point-body h5 {
    max-width: 560px;
    margin: 0 auto;
}}

.profile-point .h5, .profile-point h5 {
    font-weight: 700;
    font-size: 20px;
    color: rgba(39,52,63,.8);
    line-height: 22px;
    margin: 0 0 5px;
    padding-top: 5px;
    opacity: 1;
    min-height: 27px;
    display: block;
    text-align: inherit;
    background-color: transparent;
}
@media only screen and (min-width: 480px){
.resume-section.timeline-strict .line.vertical {
    position: absolute;
    top: 10px;
    bottom: 0;
    margin-left: -37px;
    width: 2px;
    height: 88%;
    display: block;
    background: #aebbc4;
}}
@media (min-width: 767px){
.resume-section.timeline-strict .line.vertical {
    position: absolute;
    top: 6px;
    bottom: 0;
    margin-left: -50.2%;
    width: 2px;
    height: 100%;
    display: block;
    background: #aebbc4;
}}
@media only screen and (max-width: 480px){
.resume-section.timeline-strict .line.vertical {
    position: absolute;
    top: 10px;
    bottom: 0;
    margin-left: -27px;
    width: 2px;
    height: 88%;
    display: block;
    background: #aebbc4;
}}

.modal {
    padding: 10px;
    background: rgba(39, 53, 63, 0.82);
    z-index: 1300!important;
    overflow: auto!important;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    display: none; /* Hidden by default */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
}

/* Modal Content */
.modal-content {
    overflow: visible;
    border-radius: 8px;
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 680px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;

}
.modal-header{
      border: none;
      padding: 30px 30px 15px;
          text-align: center;
          border-bottom: none!important;;
}
.modal-title{
      font-weight: 700;
      margin: 0;
    line-height: 1.42857143;
    font-size: 24px;
}
.modal-header h1 i {
    color: #F4D62B;

}
.modal-body{
  padding: 15px 30px;
  text-align: left;
}
.modal-body h5 {
    font-weight: 700;
    font-size: 20px;
    color: var(--main-light-color);
    line-height: 22px;
    margin: 0 0 5px;
    padding-top: 5px;
    opacity: 1;
    min-height: 27px;
    display: block;
    text-align: inherit;
    background-color: transparent;
}
  .modal-body .pen {
    color: #7f8c8d;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: 0;
    margin-right: 0;
}
.modalpad{
  margin-top: 6px;
  color: #7f8c8d;
}
.modal-footers {
      width: auto;
    text-align: center;
}
.modal-footers button{
    border: none;
    background: var(--main-light-color);
    border: none;
    border-radius: 50px;
    color: #fff;
    opacity: .75;
    transition: opacity .4s;
    font-weight: 700;
    white-space: nowrap;
    padding: 13px 25px;
}
body.modal-open {
    overflow: hidden;
}
 .no-underline {
   text-decoration:none;
}
.underline {
  text-decoration:underline;
}
.modalUrl{
  margin-top: 7px;
}
.imageBox {
    margin-top: 10px;
    margin-left: -10px;
}

.imageBox-image {
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background-size: cover!important;
    display: inline-block;
    border: 1px solid #e9eaec;
    border-radius: 3px;
    position: relative;
    margin-left: 10px;
    width: 100px;
    height: 100px;
    cursor: zoom-in;
}
.imageBox-image-modal {
    max-width: 80%;
    width: auto;
    margin: 0 auto;
    border: 1px solid #e9eaec;
    border-radius: 3px;
}
.modal-content-image{
    background: 0 0;
    border: none;
    box-shadow: none;
    overflow: visible;
    border-radius: 8px;
    text-align: center;

}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.closemodal{
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    color: #fcfcfc;
    text-shadow: 0 1px 0 #fff;
    position: absolute;
    top: 10px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
.closemodal:hover,
.closemodal:focus {
    color: #cec8c8;
    text-decoration: none;
    cursor: pointer;
}